@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita??lic,400italic,500,500italic,700,700italic,900italic,900);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	background-repeat: no-repeat;
	background-color: #101010;
}

strong { 
	font-weight: 500; 
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #FF8927;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #FF8927;
    line-height: 30px;
}

.btn {
	background-color: rgba(0, 0, 0, 0.35);
	color: #FF8927;
	font-size: 25px;
	text-align: left;
	width: 100%;
	border-style: solid;
	border-color: #FF8927;
	padding: 10px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	text-align: left;
}

.form-control {
	width: 10%;
}
