<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create A Server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/create.css">
  
</head>

<!--
create a server

name
#players
options..
.
.
.
button:create
-->	

<body>

		<nav class="navbar navbar-inverse">
		
		    <div class="container-fluid">
				
				<div class="navbar-header">
					<a class="navbar-brand" style="color: #FF8927;">TRON <i>Light Cycle</i></a>
				</div>
			
				<ul class="nav navbar-nav">
					<li><a href="#">Server</a></li>
					<li><a href="#">User</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Log Out</a></li>
				</ul>
		    
			</div>
		
		</nav>


        <div class="container">
		
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>CREATE</strong> A Server</h1>
                </div>
            </div>
			
            
            <div class="row">
				
                <div class="col-sm-6 col-sm-offset-3 form-box">	
					<form method="POST">
						<!--Name Box-->
						<div class="box">
							<h3>Name of Server</h3>
							<input type="text" class="form-control" name="servername">
							<br>
						</div>
						
						<br>
						<!--Num Player Box-->
						<div class="box">
							<h3>Number of Players</h3>
							<!--Slider output display taken from https://stackoverflow.com/questions/10004723/html5-input-type-range-show-range-value-->
							<input type="range" name="numplayers" min="2" max="4" onchange="updatePlayerInput(this.value);">
							<input type="text" class="form-control" id="playerInput" value="">
						</div>

						<br>
						<!--Speed Box-->
						<div class="box">
							<h3>User Velocity</h3>
							<input type="range" name="playerspeed" min="2" max="10" onchange="updateSpeedInput(this.value);">
							<input type="text" class="form-control" id="speedInput" value="">
						</div>

						<br>
						<!--Dimension Box-->
						<div class="box">
							<h3>Field Size</h3>
							<input type="range" name="size" min="2000" max="20000" step="1000" onchange="updateLengthInput(this.value);">
							<input type="text" class="form-control" id="lengthInput" value="">
						</div>							
						
						<script>
						function updatePlayerInput(val) {
							document.getElementById('playerInput').value=val; 
						}
						
						function updateSpeedInput(val) {
							document.getElementById('speedInput').value=val; 
						}
						
						function updateLengthInput(val) {
							document.getElementById('lengthInput').value=val; 
						}
						
						function updateWidthInput(val) {
							document.getElementById('widthInput').value=val; 
						}
						</script>
						
						<br>
						<button type="submit" name="serversubmit" value=":(" class="btn btn-login">Submit</button>
						
					</form>
					
                </div>
            </div>
        </div>
</body>
</html>
