<html>
<head>
    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://threejs.org/examples/js/loaders/MTLLoader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <title>Light Cycle</title>
    <style>
        * {
            margin: 0;
        }
    </style>
</head>
<body>
    <script>
        username = "{{ username }}";
        gamename = "{{ gamename }}";
        {% for key, val in settings.items() %}
            {{ key }} = "{{ val }}";
        {% endfor %}
    </script>
    <script src="static/game.js"></script>
</body>
</html>
