<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/user.css">
  
</head>

<body>

		<nav class="navbar navbar-inverse">
		
		    <div class="container-fluid">
				
				<div class="navbar-header">
					<a class="navbar-brand" style="color: #1FC9C8;">TRON <i>Light Cycle</i></a>
				</div>
			
				<ul class="nav navbar-nav">
					<li><a href="/servers/">Server</a></li>
					<li class="current"><a style="color: white;">User</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout/">Log Out</a></li>
				</ul>
		    
			</div>
		
		</nav>


        <div class="container">
		
            <!--Words Above Login Box-->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>USER</strong> Name</h1>
                </div>
            </div>
			
            
            <div class="row">
				
                <div class="col-sm-6 col-sm-offset-3 form-box">	
					
                    <!--STAT Box Part-->
                    <div class="form">
                        <h3>STAT</h3>
                        <p>Numbah associated with this stat</p>
                    </div>
					<br>
                    <div class="form">
                        <h3>STAT</h3>
                        <p>Numbah associated with this stat</p>
                    </div>
					
					
                </div>
            </div>
        </div>
</body>
</html>
