<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/user.css">
  
</head>

<body>
        <div class="container">
		
            <!--Words Above Login Box-->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>USER</strong> Name</h1>
                </div>
            </div>
			
            <!--Begin Login Box-->
            <div class="row">
				
                <div class="col-sm-6 col-sm-offset-3 form-box">	
					
                    <!--Login Message Part-->
                    <div class="form">
                        <div class="form-text">
                            <h3>STAT</h3>
                            <p>Numbah associated with this stat</p>
                        </div>
					
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
